*{
	margin: 0 auto;
}

html{
	scroll-behavior: smooth;
}
.welcome_cont{
	width: 100%;
	min-height:  100vh;
	background: #ecf0f5;
	position: relative;
	
}

.nav1{
	max-width: 950px;
	height: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: arial,"sans-serif";
	color: white;
	padding: 0 5%;
	
}
.mobile_btn{
	display: none;
}
.logo, .reg_button, .mobile_btn, .mobile_reg_button{
	margin: 0 10px;
}
.logo{
	height: 60px;
	width: 250px; 
}
.logo img{
	float: left;
	width: 60px;

}
.logo h1{
	font-size: 32px;
	letter-spacing: 2px;
	color: purple;
	padding-top:10px ; 
}

.logo p{
	font-size: 10px;
	color: purple;
}
.mobile_reg_button{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 50px;
}
.mobile_reg_button form input {
	background: #c9302c;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	border-color: #c9302c;
	padding: 8px 12px;
	margin:0 auto; 
}
.mobile_btn{
	width: 35px;
	height: 35px;
}
.mobile_btn a{
	text-decoration: none;
	font-size: 35px;
	color: purple;
	transition: 0.5s;
}

.reg_button form input{
	background: #c9302c;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	border-color: #c9302c;
	padding: 8px 12px;
}

.nav2{
	width: 100%;
	display: block;
	background: #f39c12;
	border-top: 3px solid;
	border-bottom:  3px solid;
  	border-image: linear-gradient(to right, red, purple) 1;
	margin: 16px 0;
}

.close_btn{
	width: 100%;
	height: 60px;
	display: none;
}
.close_btn a{
	font-size: 80px;
	float: right;
	font-size: 80px;
	color: #fff; 
}

.main_cont2{
	max-width: 950px;
}
.main_cont2 ul{
	display: flex;
	flex-direction:  row;
	justify-content: space-between;
	list-style: none;
	padding: 2px 0;
	
}
.main_cont2 ul li:hover{
	background: rgba(0,0,0,0.15);
}
.main_cont2 ul li:visited{
	background: rgba(0,0,0,0.15);
}
.main_cont2 ul li:active{
	background: rgba(0,0,0,0.15);
}
.main_cont2 ul li{
	width: 180px;
	height: 18px;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	border-radius: 5px;
	transition: 0.5s;
	padding: 10px 0;
	position: relative;
}
.main_cont2 ul div{
	width: 180px;
	height: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f39c12; 
	position: absolute;
	top: 45px;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1000;
	transition: 0.5s;
 }
 .main_cont2 ul div a:hover{
 	background: rgba(0,0,0,0.15);
 }
.main_cont2 ul div a{
	border-radius: 5px;
	padding: 12px;
	transition: .5s;	
}
#m_book_m:hover > #m_book{
	height: 100px;
	opacity: 1;
}
#book_m:hover > #book{
	height: 150px;
	opacity: 1;
}

.nav2 a{
	text-decoration: none;
	font-size:18px;
	font-family: arial,"sans-serif";
	color: white;
}

.desboard_cont{
	max-width: 950px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	border: 1px solid black;
	box-shadow: 1px 1px 2px red inset,
				-1px -1px 2px red inset;
	border-radius: 2px;
}
.desboard_child{
	padding-bottom: 4rem; 
}
.desboard_head{
	width: 100%;
	background: #c9302c;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}
i{
	margin-right: 10px;
}
.cont_main3{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.des{
	min-width: 280px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	margin: 15px;
	
}
.Books{
	background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
	font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
.Member{
	background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
.Issued{
	background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}
.more_info{
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.15);
	text-align: center;
	border-radius: 0 0 5px 5px; 
	padding: 4px 0;
}
.more_info a{
	text-decoration:none;
	color: #fff; 
}
.detail{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:  row;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.detail h3{
	font-size: 38px;
	font-weight: bold;
}
.detail i{
	font-size: 70px;
	color: rgba(0,0,0,0.2);
	padding-right: 20px;  
}

footer{
	width: 100%;
	background: #191919;
	color: #fff;
	position: absolute;
	

}
.footer_cont{
	max-width: 1020px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.footer_cont p{
	padding: 14px;
}
.footer_cont p a{
	text-decoration: none;
	color: #fff;
}


@media screen and (max-width: 1000px){

	.nav2{
		height: 100%;
		width:0;
		position:  fixed;
		top:0;
		background: rgba(0,0,0,0.9);
		border:none;
		margin: 0;
		overflow: hidden;
		z-index: 999;
		transition: .5s;
	}
	.nav2 a{
		font-size: 18px;
		padding:0 16px;
	}
	.main_cont2 ul{
		flex-direction: column;
		justify-content: flex-start;
		margin: 10px 0;
	}
	.main_cont2 ul li {
		text-align: left;
		justify-content: flex-start; 
	}
	.close_btn{
		display: block;

	}
	.close_btn a{
		font-size: 60px;
		float: right;
	}
	.reg_button{
		display: none;
	}
	.mobile_btn{
		display: block;
	}
	.cont_main3{
		flex-direction: column;
	}
	.des{
		width: 50%;
		margin: 15px auto;
	}
	footer{
		bottom: auto;
	}
}

@media screen and (max-width: 480px){
	.des{
		width: 90%;
	}
	.desboard_head{
		font-size: 25px;
	}
	.nav1{
		padding: 0;
	}
	.logo h1{
		letter-spacing: 1px;
	}
	
	.footer_cont p:nth-child(1){
		padding: 8px 16px 4px 16px;
	} 
	.footer_cont p:nth-child(2){
		padding: 4px 16px 8px 16px;
	} 

}
@media screen and (min-width: 1000px){
	.mobile_btn, .mobile_nav, .mobile_1200, .mobile_reg_button {display: none;}
}
